---
import { Image } from "astro:assets";
import { type CollectionEntry, getCollection } from "astro:content";
import MarkdownWrapper from "../../layouts/MarkdownWrapper.astro";

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  return posts.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

type Props = {
  entry: CollectionEntry<"posts">;
};

const { entry } = Astro.props;
const { Content } = await entry.render();
const { title, description, category, author, image, date, redirect } =
  entry.data;
---

<MarkdownWrapper frontmatter={entry.data}>
  <div class="meta">
    <Image
      src={image.src}
      alt={image.alt}
      width="400"
      height="250"
      format="webp"
      quality={80}
    />
    <a href={redirect.url}>View the visualization</a>
    <p>{author}</p>
    <time datetime={date.toISOString()}
      >{
        date.toLocaleDateString(undefined, {
          dateStyle: "medium",
          timeZone: "UTC",
        })
      }</time
    >
  </div>
  <Content />
</MarkdownWrapper>
